---
// src/sections/FeaturesSection.astro
import HighwayCard from "@/components/HighwayCard.astro";
import Heading from "@/components/Heading";
import Button from "@/components/Button/Button";
import CTABlock from "@/components/CTABlock.astro";
import { SiteData } from "@/SiteData";
import { Icon } from "astro-icon/components";
import ArrowHeading from "@/components/ArrowHeading.astro";
import { Image } from "astro:assets";
import BgImage from "@/assets/i75road.jpg";
import Counter from "@/components/Counter";
import Passer from "@/assets/passer.png";
import FloatingCard from "@/components/FloatingCard.astro";
import StraightArrow from "@/assets/straight-arrow.png";

const {
  id = "features",
  class: className = "",
  title = "WHAT'S INCLUDED IN YOUR i-75 COURSE",
  ctaText = "GET FULL ACCESS NOW",
  ctaHref = "/enroll",
} = Astro.props;

const courseFeatures = [
  {
    title: "Multiple Choice Tests",
    description:
      "A Multiple Choice Test at the end of every video (or two) and a Cumulative Multiple Choice Test at the end of every chapter",
    icon: "fa6-solid:envelope",
  },
  {
    title: "Premium Videos",
    description:
      "i-75 videos simplify learning, helping you really get the concepts without having to memorize them. Breaking down tough topics to make them easy to understand. Say Goodbye to boring lectures!",
    icon: "fa6-solid:video",
  },
  {
    title: "Instructor-Led Simulations",
    description:
      "All i-75 Simulations are Instructor Narrated Videos for Maximum learning purposes",
    icon: "fa6-solid:video",
  },
  {
    title: "Final Review",
    description:
      "The Final Review chapter includes narrated simulation videos and randomized testlets to enhance your understanding, and focus on areas needing improvement.",
    icon: "fa6-solid:video",
  },
  {
    title: "Amazon E-book",
    description:
      'The Amazon E-book Contains 75 "must know" questions for your exam',
    icon: "fa6-solid:video",
  },
];
---
<section id={id} class={`py-16 md:py-24${className}`}>
  <div class="w-75/100 mx-auto">
    <!-- Section Header -->
    <div class="text-center space-y-4 mb-12 md:mb-16">
      <ArrowHeading
        tagName="h2"
        variant="secondary"
        className="h3 font-bold text-light-primary tracking-wide"
        containerClass="flex items-center justify-center mb-6"
      >
        {title}
      </ArrowHeading>
    </div>
    <div class="flex flex-col lg:flex-row justify-center items-start gap-8 lg:gap-14">
      <div class="image-section lg:w-2/5 lg:sticky lg:top-0">
        <Image
          src={Passer}
          alt="i-75 Road"
          class="w-full h-full"
          loading="lazy"
        />
             <!-- Highway Floating Card -->
          <FloatingCard
            position="-bottom-6 -left-6"
            exit
            ariaLabel="Rated videos sign"
          >
            <div class="flex flex-col lg:flex-row items-center gap-2 mb-2">
              <Image
                src={StraightArrow}
                alt="Right pointed arrow"
                class="w-7 h-6"
                loading="lazy"
              />
              <p class="text-lg font-bold text-light-primary">
                #<Counter start={0} end={1} duration={300} client:visible />
                Rated Videos
              </p>
            </div>
            <p class="text-xs text-light-primary/90">
              All Narrated By Darius Clark!
            </p>
          </FloatingCard>

          <!-- Stats Floating Card -->
          <FloatingCard position="-top-6 -right-6">
            <div class="text-center">
              <div
                class="text-2xl font-bold text-light-primary flex items-center justify-center gap-1"
              >
                <Image
                  src={StraightArrow}
                  alt="Right pointed arrow"
                  class="w-6 h-5"
                  loading="lazy"
                />
                <Counter start={0} end={10} duration={2000} client:visible />k+
              </div>
              <div class="text-xs text-light-primary">Students helped</div>
            </div>
          </FloatingCard>
      </div>
      <!-- Features Container -->
      <div class="mb-12 md:mb-16 lg:w-3/5">
        <!-- Features Grid Inside Single Container -->
        <ol
          class="list-decimal list-inside flex flex-col justify-left items-start space-y-6 lg:pl-4"
        >
          {
            courseFeatures.map((feature) => (
              <li class="text-center lg:text-left group h4 uppercase text-light-primary">
                {/* <div class="w-full h-auto flex items-center justify-start mb-4 mx-auto transition-transform duration-300">
                <Icon name={feature.icon} size={30} class={"text-light-primary w-6 h-6 lg:w-12 lg:h-12"} />
              </div> */}

                <span class="font-bold">{feature.title}</span>

                <p class="text-lg text-light-primary capitalize leading-relaxed mt-2">
                  {feature.description}
                </p>
              </li>
            ))
          }
        </ol>
        <!-- Call to Action -->
        <CTABlock
          containerClass="text-left flex flex-col justify-start items-start mt-10"
          showSecondaryButton={false}
          showSignature={false}
        />
      </div>
    </div>
  </div>
</section>
