---
// src/sections/FeaturesSection.astro
import HighwayCard from "@/components/HighwayCard.astro";
import Heading from "@/components/Heading";
import Button from "@/components/Button/Button";
import CTABlock from "@/components/CTABlock.astro";
import { SiteData } from "@/SiteData";
import { Icon } from "astro-icon/components";
import ArrowHeading from "@/components/ArrowHeading.astro";
import { Image } from "astro:assets";
import BgImage from "@/assets/i75road.jpg";

const {
  id = "features",
  class: className = "",
  title = "WHAT'S INCLUDED IN YOUR i-75 COURSE",
  ctaText = "GET FULL ACCESS NOW",
  ctaHref = "/enroll",
} = Astro.props;

const courseFeatures = [
  {
    title: "Multiple Choice Tests",
    description:
      "A Multiple Choice Test at the end of every video (or two) and a Cumulative Multiple Choice Test at the end of every chapter",
    icon: "fa6-solid:envelope",
  },
  {
    title: "Premium Videos",
    description:
      "i-75 videos simplify learning, helping you really get the concepts without having to memorize them. Breaking down tough topics to make them easy to understand.",
    icon: "fa6-solid:video",
  },
  {
    title: "Instructor-Led Simulations",
    description:
      "All i-75 Simulations are Instructor Narrated Videos for Maximum learning purposes",
    icon: "fa6-solid:video",
  },
  {
    title: "Final Review",
    description:
      "The Final Review chapter includes narrated simulation videos and randomized testlets to enhance your understanding, and focus on areas needing improvement.",
    icon: "fa6-solid:video",
  },
  {
    title: "Amazon E-book",
    description:
      'The Amazon E-book Contains 75 "must know" questions for your exam',
    icon: "fa6-solid:video",
  },
];
---

<section id={id} class={`py-16 md:py-24${className}`}>
  <div class="w-75/100 mx-auto">
    <!-- Section Header -->
    <div class="text-center space-y-4 mb-12 md:mb-16">
      <ArrowHeading
        tagName="h2"
        variant="secondary"
        className="h3 font-bold text-light-primary tracking-wide"
        containerClass="flex items-center justify-center mb-6"
      >
        {title}
      </ArrowHeading>
    </div>
    <div class="flex flex-col lg:flex-row justify-center items-start gap-8 lg:gap-14">
      <div class="image-section lg:w-1/2 lg:sticky lg:top-0">
        <Image
          src={BgImage}
          alt="i-75 Road"
          class="w-full h-full"
          loading="lazy"
        />
      </div>
      <!-- Features Container -->
      <div class="mb-12 md:mb-16 lg:w-1/2">
        <!-- Features Grid Inside Single Container -->
        <ol
          class="list-decimal list-inside flex flex-col justify-left items-start space-y-6 lg:pl-4"
        >
          {
            courseFeatures.map((feature) => (
              <li class="text-center lg:text-left group h4 uppercase text-light-primary">
                {/* <div class="w-full h-auto flex items-center justify-start mb-4 mx-auto transition-transform duration-300">
                <Icon name={feature.icon} size={30} class={"text-light-primary w-6 h-6 lg:w-12 lg:h-12"} />
              </div> */}

                <span class="font-bold">{feature.title}</span>

                <p class="text-lg text-light-primary capitalize leading-relaxed mt-2">
                  {feature.description}
                </p>
              </li>
            ))
          }
        </ol>
        <!-- Call to Action -->
        <CTABlock
          containerClass="text-left flex flex-col justify-start items-start mt-10"
          showSecondaryButton={false}
          showSignature={false}
        />
      </div>
    </div>
  </div>
</section>
